.Snippet {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  padding: 4px 8px;
  background-color: white;
  height: 1rem;
  position: relative;
}

.EmailBody {
  background-color: white;
  padding: 16px 8px;
  margin-top: 8px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

.Timestamp {
  position: absolute;
  right: 8px;
  top: 2px;
  font-size: 13px;
  z-index: 100;
  &.SnippetFade {
    background-color: white;
    height: 100%;
    padding: 4px 0px 4px 4px;
    box-shadow: 0 4px 4px 4px white;
  }
}

.Sender {
  text-align: right;
  padding: 4px 8px;
  box-sizing: border-box;
  @media only screen and (min-width: 1280px) {
    position: absolute;
    transform: translateX(-100%);
    max-width: calc((100vw - 800px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .SenderContainer {
    position: sticky;
    top: 28px;
  }
}

.EmailAddress {
  font-size: 13px;
  color: grey;
}
