.Label {
  margin: 3px;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px grey;
  display: inline-block;
}

.Subject {
  margin: 8px 0;
  font-size: 24px;
  flex-grow: 1;
}

.ThreadContainer {
  margin: 16px 0;
  display: flex;
  align-items: flex-start;
}

.LabelList {
  margin-bottom: 4px;
}

.ThreadInfo {
  display: flex;
  align-items: center;
  position: sticky;
  top: 26px;
  z-index: 101;
  background: white;
  border-bottom: 1px solid #e0e0e0;
}

.ThreadContent {
  flex-grow: 1;
  max-width: 100%;
}

.Chevron {
  transition: transform 0.4s;
  padding: 4px;
  position: sticky;
  top: 48px;
}

.collapsed {
  transform: scaleY(-1);
}

.expanded {
  transform: scaleY(1);
}
