.ShortcutHint {
  position: absolute;
  z-index: 10000;
  color: white;
  font-size: 20px;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  padding: 4px;
  text-align: center;
  box-shadow: grey 1px 1px 4px;
  background: black;
}

.ShortcutOverlay {
  z-index: 9001;
  position: absolute;
  border-top: 2px solid #2259b5;
  border-bottom: 2px solid #2259b5;
}
