.EmailViewer {
  min-height: 100vh;
  background-color: #eeeeee;
  display: grid;
  grid:
    "header" auto
    "events" auto
    "tasks" auto
    "content" 1fr
    / 1fr;

  @media only screen and (min-width: 1024px) {
    grid:
      "header tasks" auto
      "events tasks" auto
      "content tasks" 1fr
      / 1fr 800px 4fr 1fr;
  }

  @media only screen and (min-width: 1280px) {
    grid:
      "whitespace header tasks" auto
      "events events tasks" auto
      ". content tasks" 1fr
      / 1fr 800px 1fr;
  }
}

.PrimaryContent {
  grid-area: content;
}

.whitespace {
  background: white;
}
