.FocusBar {
  border-bottom: 2px solid #2259b5;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  a {
    color: black;
    text-decoration: none;
  }
  grid-area: events;

  &:not(:hover) {
    height: 26px;
  }
  background: #eee;
}

.Active {
  border-bottom: 2px solid #2a934d;
}

.Inactive {
  border-bottom: 2px solid #ccc;
}

.Content {
  max-width: 800px;
  display: flex;
  margin-left: auto;
  padding: 4px 8px;
}

.Event {
  flex-grow: 1;
}

.ActionBar {
  padding-left: 4px;
}

.EventTimestamp {
  white-space: nowrap;
}
