.Logo {
  font-family: "Cedarville Cursive";
  font-size: 32px;
  align-self: center;
  flex-grow: 1;
  margin: 4px 16px;
  color: #e02a28;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px 12px rgba(255, 255, 255, 0.5);
  padding: 0 12px;
  border-radius: 8px;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.LoginSection {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 100px;
}

.LoginButton {
  display: flex;
  width: fit-content;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px grey;
  align-items: center;
  background-color: white;
  font-size: 20px;
  padding: 6px 12px;
  color: #444;
  margin: 100px auto;
  cursor: pointer;
}

#logo {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}
#logo::after {
  position: absolute;
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: #f1f1f1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
}
#logo::before {
  position: absolute;
  content: "";
  display: block;
  width: 35%;
  height: 32%;
  background: #f1f1f1;
  right: 0;
  z-index: 10;
  bottom: 50%;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}
#logo .g-line {
  width: 50%;
  height: 20%;
  background: #0091ea;
  position: absolute;
  right: 0;
  margin: auto;
  border-bottom-right-radius: 4px 20px;
  top: 0;
  bottom: 0;
  z-index: 15;
}
#logo .yellow {
  width: 40%;
  height: 40%;
  position: absolute;
  left: -15%;
  bottom: 32%;
  margin: auto;
  background: #ffc107;
  transform: rotateZ(-48deg);
  -webkit-transform: rotateZ(-48deg);
  z-index: 3;
}
#logo .green {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  border-radius: 0 0 100% 100%;
  background: #4caf50;
  z-index: 2;
}
#logo .blue {
  position: absolute;
  width: 0px;
  height: 0px;
  right: 0;
  z-index: 30;
  top: 50%;
  z-index: 2;
  width: 35%;
  height: 32%;
  background: #0091ea;
  right: 0;
  z-index: 2;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}
#logo .red {
  width: 81%;
  height: 50%;
  position: absolute;
  top: 0px;
  background: #f44336;
}
.Navigation {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: header;
}

.Image {
  height: 42px;
  border-radius: 3px;
  margin: 4px;
}

.Identity {
  align-self: center;
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.Email {
  color: grey;
  font-size: 13px;
}

.Name {
  align-self: flex-end;
}

.LogOut {
  border: none;
  display: flex;
  align-items: center;
  background-color: white;
}
.Snippet {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  padding: 4px 8px;
  background-color: white;
  height: 1rem;
  position: relative;
}

.EmailBody {
  background-color: white;
  padding: 16px 8px;
  margin-top: 8px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

.Timestamp {
  position: absolute;
  right: 8px;
  top: 2px;
  font-size: 13px;
  z-index: 100;
}
.Timestamp.SnippetFade {
  background-color: white;
  height: 100%;
  padding: 4px 0px 4px 4px;
  box-shadow: 0 4px 4px 4px white;
}

.Sender {
  text-align: right;
  padding: 4px 8px;
  box-sizing: border-box;
}
@media only screen and (min-width: 1280px) {
  .Sender {
    position: absolute;
    transform: translateX(-100%);
    max-width: calc((100vw - 800px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .SenderContainer {
    position: sticky;
    top: 28px;
  }
}
.EmailAddress {
  font-size: 13px;
  color: grey;
}
.NotFirst .gmail_quote:not(blockquote):not(:hover), .NotFirst .gmail_signature:not(:hover) {
  height: 2rem;
  filter: opacity(0.5);
  overflow: hidden;
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-top: 1px solid grey;
}
.Label {
  margin: 3px;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px grey;
  display: inline-block;
}

.Subject {
  margin: 8px 0;
  font-size: 24px;
  flex-grow: 1;
}

.ThreadContainer {
  margin: 16px 0;
  display: flex;
  align-items: flex-start;
}

.LabelList {
  margin-bottom: 4px;
}

.ThreadInfo {
  display: flex;
  align-items: center;
  position: sticky;
  top: 26px;
  z-index: 101;
  background: #eee;
  box-shadow: 0 0 3px #eee;
}

.ThreadContent {
  flex-grow: 1;
  max-width: 100%;
}

.Chevron {
  transition: transform 0.4s;
  padding: 4px;
  position: sticky;
  top: 48px;
}

.collapsed {
  transform: scaleY(-1);
}

.expanded {
  transform: scaleY(1);
}
.ThreadList {
  max-width: 800px;
  margin: auto;
  padding: 0 16px 64px 16px;
  display: flex;
  flex-direction: column;
}

.ReloadButton {
  border: 0;
  background-color: white;
  padding: 8px 16px;
  margin: auto;
  margin-top: 48px;
  box-shadow: 1px 1px 4px grey;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
.EmailViewer {
  min-height: 100vh;
  background-color: #eeeeee;
  display: grid;
  grid: "header" auto "events" auto "tasks" auto "content" 1fr/1fr;
}
@media only screen and (min-width: 1024px) {
  .EmailViewer {
    grid: "header tasks" auto "events tasks" auto "content tasks" 1fr/1fr 800px 4fr 1fr;
  }
}
@media only screen and (min-width: 1280px) {
  .EmailViewer {
    grid: "whitespace header tasks" auto "events events tasks" auto ". content tasks" 1fr/1fr 800px 1fr;
  }
}

.PrimaryContent {
  grid-area: content;
}

.whitespace {
  background: white;
}
.FocusBar {
  border-bottom: 2px solid #2259b5;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  grid-area: events;
  background: #eee;
}
.FocusBar a {
  color: black;
  text-decoration: none;
}
.FocusBar:not(:hover) {
  height: 26px;
}

.Active {
  border-bottom: 2px solid #2a934d;
}

.Inactive {
  border-bottom: 2px solid #ccc;
}

.Content {
  max-width: 800px;
  display: flex;
  margin-left: auto;
  padding: 4px 8px;
}

.Event {
  flex-grow: 1;
}

.ActionBar {
  padding-left: 4px;
}

.EventTimestamp {
  white-space: nowrap;
}
.RocketContainer {
  max-width: 800px;
  margin: auto;
  padding: 0px 8px;
}
@media only screen and (min-width: 1024px) {
  .RocketContainer {
    padding: 0px 16px;
  }
}

.ChatMessage {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 4px 8px;
  position: relative;
  overflow: auto;
  display: flex;
  min-height: 18px;
}

.ChatAction {
  padding: 4px 8px;
  margin-bottom: 4px;
}

.MessageAuthor {
  margin-top: 8px;
}
@media only screen and (min-width: 1280px) {
  .MessageAuthor {
    position: absolute;
    transform: translate(-100%);
    padding: 4px;
    margin-top: 0;
  }
}

p {
  margin: 0;
}

.RoomTitle {
  position: sticky;
  top: 26px;
  z-index: 101;
  background: #eee;
  box-shadow: 0 0 3px #eee;
  padding: 16px 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.ReadButton {
  position: absolute;
  right: 0;
  display: flex;
}

.ChatMessageContent {
  flex-grow: 1;
}

.MessageTimestamp {
  font-size: 12px;
  white-space: nowrap;
  display: flex;
}

.Action {
  margin-right: 4px;
  filter: grayscale(1);
}
.Action:hover {
  filter: none;
}

.ChatMessage:not(:hover) .MessageActions {
  display: none;
}

.RoomName {
  text-decoration: none;
  color: black;
}

.ReactionBox {
  display: flex;
  flex-direction: row-reverse;
  transform: translateY(-1em);
  height: 0;
}

.CustomEmoji {
  height: 1em;
}

.Highlight {
  font-weight: bold;
  color: #363f4d;
}
.Highlight--passive {
  color: #2259b5;
}
.Highlight--active {
  color: #b20142;
}

.PassiveMention {
  border-color: #2259b5;
  border-width: 2px;
}

.ActiveMention {
  border-color: #b20142;
  border-width: 2px;
}

.UnreadCount {
  color: grey;
  padding-left: 8px;
  font-weight: normal;
}

.Participants {
  margin-left: 6px;
}

.UserAvatar {
  margin-left: 4px;
}

.Child {
  border-right: 2px black solid;
  margin-left: 20%;
}

.ReplyLoader {
  background: none;
  font-size: 12px;
  text-align: center;
  padding: 2px;
}

.ContextMessage {
  opacity: 0.6;
}
.RocketAttachment {
  border-left: 2px solid;
  padding-left: 4px;
  margin-top: 8px;
}

.FieldContainer {
  display: flex;
  flex-wrap: wrap;
}

.Field {
  margin: 4px;
}
.MessageBox {
  margin-top: 4px;
  margin-bottom: 4px;
}
.Tasklist {
  right: 0;
  padding-left: 1px;
  box-sizing: border-box;
}
@media only screen and (min-width: 1280px) {
  .Tasklist {
    position: sticky;
    top: 0;
  }
}

.Tasklist-heading {
  background: white;
  font-size: 20px;
  padding: 8px 16px;
  height: 34px;
}

.Task:nth-child(-n+3) {
  opacity: 1;
}

.Task:hover,
.Task:focus-within {
  background: white;
  opacity: 1;
}

.Task {
  padding: 8px 16px;
  opacity: 0.5;
}
@media only screen and (max-width: 1280px) {
  .Task:nth-child(n+4) {
    display: none;
  }
}

.TaskActions {
  position: absolute;
  right: 0;
  transform: translateY(-16px) translateX(-16px);
}
.TaskActions button {
  border: none;
  background: none;
  padding: 2px;
}

.Task:not(:hover):not(:first-child) .TaskActions {
  display: none;
}

.TaskDetails {
  font-size: 14px;
  padding-left: 8px;
}

.TasklistContainer {
  grid-area: tasks;
}
@media only screen and (min-width: 1280px) {
  .TasklistContainer {
    position: sticky;
    top: 24px;
  }
}
.ShortcutHint {
  position: absolute;
  z-index: 10000;
  color: white;
  font-size: 20px;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  padding: 4px;
  text-align: center;
  box-shadow: grey 1px 1px 4px;
  background: #2259b5;
}

.ShortcutOverlay {
  z-index: 9001;
  box-shadow: #2259b5 0 0 8px;
  position: absolute;
  border: 2px solid #2259b5;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

a {
  color: #007fed;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

/*# sourceMappingURL=/src.f69400ca.css.map */