.FocusBar {
  border-bottom: 2px solid #2259b5;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  a {
    color: black;
    text-decoration: none;
  }
  grid-area: events;

  &:not(:hover) {
    height: 26px;
  }
  background: #eee;
}

.Active {
  border-bottom: 2px solid #2a934d;
}

.Inactive {
  border-bottom: 2px solid #ccc;
}

.Content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 4px 8px 2px 8px;
}

.Event {
  flex-grow: 1;
}

.ActionBar {
  padding-left: 4px;
}

.EventInfo {
  margin-left: auto;
  display: flex;
}

.EventTimestamp {
  margin-left: auto;
  white-space: nowrap;
  display: flex;
}

.EventDescription {
  padding: 4px;
  max-width: 600px;
  margin: auto;
}

.EventDetails {
  display: grid;
  font-size: 14px;
  grid: auto / 1fr auto 1fr;
}

.EventAttendees {
  max-height: 200px;
  min-width: 200px;
  overflow: scroll;
  margin-left: auto;
}
