.Tasklist-heading {
  background: white;
  font-size: 20px;
  padding: 8px 16px;
  height: 34px;
}

.Task:nth-child(-n + 3) {
  opacity: 1;
}

.Task:hover,
.Task:focus-within {
  background: white;
  opacity: 1;
}

.TaskDetails {
  font-size: 14px;
  padding-left: 8px;
}

.TasklistContainer {
  grid-area: tasks;
  @media only screen and (min-width: 1024px) {
    max-width: calc(100vw - 800px);
  }
}

.Tasks {
  background-color: #f5f5f5;
}

.Tasklist {
  @media only screen and (min-width: 1024px) {
    position: sticky;
    top: 26px;
    height: 100vh;
  }
}
