
.NotFirst .gmail_quote:not(blockquote):not(:hover), .NotFirst .gmail_signature:not(:hover) {
    height: 2rem;
    filter: opacity(0.5);
    overflow: hidden;
    background-color: #e0e0e0;
    padding: 4px 8px;
    border-top: 1px solid grey;
}
